body,html{
    height: 100%;
}
body{
    font-family: "Inter", sans-serif;
    color: #1A1A1A;
}
.kiosk-footer{
    background-color: #522081;
}

.max-w-sm{
    max-width: 500px;
    margin: 0 auto;
}

.text-lg{
    font-size: 18px;
}

.site-input-lg{
    border: 2px solid #989898;
    height: 54px;
}

.site-input-lg:focus{
    box-shadow: none;
    outline: none;
    border-color: #522081;
    border-radius: 8px;
    font-weight: 500;
    font-size: 15px;
}
.site-input-lg::placeholder{
    color: #7B7B7B;
    font-weight: 500;
}
.btn-verify {
    background: #a456e7;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 8px;
}

.btn-verify:hover{
    background-color: #7f3ebd;
    color: #fff;
}

.top-text {
    font-size: 16px !important;
    vertical-align: text-top;
    display: inline-block;
}

.company-icon{
    background-color: #DBB5FF;
    width: 40px;
    height: 40px;
    border-radius: 100em;
}

.tap-circle{
    background-color: #522081;
    width: 200px;
    height: 200px;
    border-radius: 100em;
    cursor: pointer;
}

.back-btn{
    color: #522081;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.text-gray{
    color: #676767;
}
.text-lg{
    font-size: 18px;
}
.text-sm{
    font-size: 14px;
}
.text-xs{
    font-size: 12px;
}

.face-scan-container {
    position: relative;
    width: 450px;
    height: 350px;
    border: 2px solid #cbcbcb;
    border-radius: 10px;
    overflow: hidden;
}

.scan-frame::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border: 2px dashed #cbcbcb;
    border-radius: 10px;
}

.keypad-btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background-color: #E3E3E3;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.pin-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #E3E3E3;
    transition: background-color 0.2s;
}