* {
    box-sizing: border-box;
}

body {
    background-color: #f6f7fb;
    color: #888da8;
    letter-spacing: 0.2px;
    font-family: "Inter", serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.w-16 {
    width: 16px;
}
.h-16 {
    height:16px;
}
.w-20 {
    width: 20px;
}
.h-20 {
    height: 20px;
}
.w-24 {
    width: 24px;
}
.h-24 {
    height: 24px;
}

/* color */
.text-primary{
    color: #5E5ADB
}

/* font weight */


::placeholder {
    color: #ccc !important;
    font-weight: 300;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ccc !important;
    font-weight: 300;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ccc !important;
    font-weight: 300;
}
.sidebar-logo {
    padding: 14px 15px;
}

.sidebar-logo button{
    border: none;
    background-color: transparent;
    color: #fff;
    margin-right: 10px;
}

.sidebar-nav{
    justify-content: space-between;
    height: calc(100% - 60px);
}

.sidebar-logo button svg{
    width: 20px;
}

#left-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    background-color: #16145b;
    overflow-y: auto;
    /* margin-top: 60px; */
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow-x: hidden;
    z-index: 15;
    height: 100%;
}
#left-menu .bottom-nav li a {
    border-top: 2px solid #1f1c71;
    border-radius: 0 !important;
    padding: 15px 15px;
}
.table-user-thumb {
    width: 40px;
    height: 40px;
    display: block;
    object-fit: contain;
    border-radius: 100em;
}

#left-menu.small-left-menu,
#logo.small-left-menu {
    width: 60px;
}

#left-menu ul {
    padding: 0;
    margin: 0;
}

#left-menu ul li {
    padding: 0 10px;
    display: block;
    position: relative;
}

#left-menu > ul > li {
    margin: 5px 0;
}
#left-menu ul li a {
    color: #d7ddf1;
    width: 100%;
    display: inline-block;
    position: relative;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 8px;
}
#left-menu ul li.active a {
    background-color: #0d0b45;
    color: #fff;
}
#left-menu ul li a i {
    font-size: 22px;
    text-align: center;
    width: 35px;
    height: 35px;
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sb-menu-h {
    padding: 20px 16px 5px 16px;
}

.sb-menu-h span {
    font-size: 11px;
    color: #d7ddf1;
    text-transform: uppercase;
}

#left-menu ul li:hover a span {
    color: #0e9aee;
}

#left-menu ul li:hover a i {
    color: #0e9aee;
}

#left-menu ul li a span {
    width: 100%;
    padding-left: 10px;
    color: #f0f2f4;
    font-weight: 300;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#left-menu ul li.active a i {
    background-color: #0e9aee;
    color: #fff;
}

#left-menu li.has-sub ul {
    background-color: transparent;
    margin: 0 -10px;
    padding-left: 45px;
    height: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#left-menu li.has-sub ul > li {
    padding-top: 0;
    padding-left: 0;
}
#left-menu li.has-sub ul > li a:hover{
    color: #6E69FF;
}

a:hover {
    text-decoration: none;
}

#logo {
    position: fixed;
    top: 0;
    z-index: 2;
    left: 0;
    background-color: #16145b;
    border-color: #16145b;
    height: 60px;
    width: 250px;
    font-size: 30px;
    line-height: 2em;
    border-right: 1px solid #e6ecf5;
    z-index: 4;
    color: #fff;
    padding-left: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

#header {
    background-color: #fff;
    height: 70px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 3;
    line-height: 60px;
}

#main-content {
    min-height: calc(100vh - 60px);
    width: calc(100% - 250px);
    margin-left: 250px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#main-content.small-left-menu {
    width: calc(100% - 60px);
    margin-left: 60px;
}

#page-container.small-left-menu,
#header .header-left.small-left-menu {
    padding-left: 80px;
}

.card {
    border: 1px solid #e6ecf5;
    margin-bottom: 1em;
    font-weight: 300;
}

.card .title {
    padding: 15px 20px;
    border-bottom: 1px solid #e6ecf5;
    margin-bottom: 10px;
    color: #000;
    font-size: 18px;
}

#show-lable {
    opacity: 0;
    visibility: hidden;
    left: 80px;
    font-weight: 300;
    padding: 6px 15px;
    background-color: #0e9aee;
    position: fixed;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#left-menu.small-left-menu li.has-sub::after {
    content: "";
}

#left-menu.small-left-menu li.has-sub ul {
    position: fixed;
    width: 280px;
    z-index: 123;
    height: 0;
    left: 69px;
    padding-left: 15px;
}

.table-custom {
    /* box-shadow: 0px 0 8px 0px #ddd; */
    border-radius: 10px;
    border: 1px solid #e9e7fd;
}

.table-custom .dt-layout-start .dt-length,
.table-custom .dt-layout-start .dt-info{
    padding:15px 0 15px 15px
}
.table-custom .dt-layout-end .dt-search,
.table-custom .dt-layout-end .dt-paging{
    padding:15px 15px 15px 0;
}

.table-custom .dt-layout-end .dt-paging,
.table-custom .dt-layout-start .dt-info{
    padding-top: 5px;
    padding-bottom: 8px;
    font-size: 13px;
}
.table-custom div.dt-container div.dt-length label,
.table-custom div.dt-container div.dt-search label {
    font-size: 13px;
}
.table-custom .pagination .dt-paging-button .page-link {
    background-color: #F1F2F6;
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 4px;
    font-size: 13px;
    color: #8B909A;
}
.table-custom .pagination .dt-paging-button.active .page-link {
    background-color: #5E5ADB;
    color: #fff;
}

.table-custom .page-item:not(:first-child) .page-link {
    margin-left: 4px;
}


.top-right-bar li {
    flex: none;
    list-style: none;
}
.user-top svg {
    width: 40px;
    height: 40px;
}
.primary-add {
    background-color: #5e5adb;
    align-items: center;
    color: #fff;
    border: none;
    font-size: 14px;
    font-weight: 500 !important;
    padding: 12px 16px;
    border-radius: 6px;
}
.page-heading h3 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 2px;
    color: #2C368A;
}
.page-heading p {
    font-size: 14px;
    color: #595959;
}

/* data table design */
.table-custom th {
    font-size: 13px;
    font-weight: 500;
    color: #64748B;
    border-color: #E9E7FD;
    text-transform: uppercase;
}

.table-custom td {
    font-size: 13px;
    color: #423E3E;
    vertical-align: middle;
    border-color: #E9E7FD;
}

.table-custom tr td:first-child,
.table-custom tr th:first-child{
    padding-left: 15px;
}

.table-custom .table-hover>tbody>tr:hover>*{
    background-color: #F7F9FC;
}

.widget-icon{
    background-color: #28258C;
    width: 70px;
    height: 70px;
    border-radius: 100em;
    color: #fff;
}
.dashboard-top-bg {
    background-color: #0D0B45;
}
.widget-container a{
    text-decoration: none;
}

.widget-container p{
    font-size: 15px;
    color: #fff;
    margin: 5px 0 0 0;
}

.admin-name h2{
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}
.db-container{
    border: 1px solid #E6EDFF;
    border-radius: 12px;
}

.heading-db-container h2{
    font-size: 32px;
    font-weight: 700;
    color: #252525;
}
.db-data-container{
    border: 1px solid #E6EDFF;
    border-radius: 6px;
}
.db-data-container h3 {
    font-size: 26px;
    font-weight: 700;
    color: #252525;
}
.db-data-container p{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    color: #252525;
}

.db-data-container svg{
    color: #5E5ADB;
}
.time-card{
    background-color: #EDF0F9;
}

.time-card input {
    border: none;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
}

.time-card input::placeholder{
    color: #252525 !important;
    font-weight: 700;
}

.time-card input:focus{
    background-color: transparent;
}

.time-card label{
    font-size: 14px;
}

.time-card input:focus{
    border: none;
    outline: none;
    box-shadow: none;
}

.daterangepicker td.active, .daterangepicker td.active:hover,
.daterangepicker td.active.end-date{
    background-color: #5e5adb;
    color: #fff;
}

.btn-primary{
    background-color: #5e5adb !important;
}

.daterangepicker td.in-range {
    background-color: #edf0f9;
}

.time-card span svg{
    color: #252525;
}

.btn-db {
    background-color: #5E5ADB;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-left: 16px;
    padding-right: 16px;
}
.db-container{
    color: #252525;
}

.btn-db:hover{
    background-color: #534fcf;
    color: #fff;
}

.notice-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5E5ADB;
    flex: none;
    width: 42px;
    height: 42px;
    border-radius: 8px;
}

.notice-board p{
    font-size: 14px;
    margin-bottom: 0;
}

.notice-board span{
    color: #808080;
    font-size: 13px;
    margin-top: 3px;
    display: block;
}
.heading-db-container h3{
    font-size: 18px;
    font-weight: 600;
}
.more-notification a {
    text-decoration: none;
    color: #808080;
    font-size: 15px;
}

.more-notification a:hover{
    color: #5E5ADB;
}

.db-card a{
    text-decoration: none;
}
.widget-container-main{
    padding-bottom: 60px;
}

.db-card h3{
    font-size: 20px;
    margin-bottom: 5px;
    color: #252525;
    font-weight: 700;
}
.db-card span{
    color: #595959;
    font-size: 14px;
    display: block;
}

.action-dropdown-toggle svg{
    color: #423e3e;
}

.action-dropdown-toggle::after{
    border: none;
}

.action-dropdown-toggle ~ ul li .dropdown-item {
    font-size: 14px;
    color: #252525;
}

.action-dropdown-toggle:focus{
    outline: none;
    border: none;
}

.action-dropdown-toggle{
    border: none;
}


.main-navigation .has-sub ul {
    display: none;
    /* Hidden by default */
    padding-left: 20px;
}

.main-navigation .has-sub.open ul {
    display: block;
    /* Show dropdown when open */
}

.search-container .search-icon {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 15px;
    top: 10px;
}
.search-container input.form-control {
    padding-left: 42px;
    font-size: 14px;
    height: 42px;
    border: 1px solid #C2C2C2;
    border-radius: 8px;
}
.search-container input.form-control:focus{
    box-shadow: none;
    border-color: #A0A0A0;
}
.search-container input.form-control::placeholder{
    color: #878F9F;
    font-size: 15px;
    font-weight: 500;
}

.search-btn {
    display: flex;
    justify-content: center;
    gap: 6px;
    align-items: center;
    background: #fff;
    border: 1px solid #C2C2C2;
    font-weight: 500;
    color: #252525;
    height: 42px;
}

.search-input-container{
    width: 330px;
    color: #878F9F;
}

.search-btn:hover{
    color: #2C368A;
    background-color: #fff;
    border: 1px solid #C2C2C2;
}

.db-custom-table th {
    color: #252525;
    font-size: 17px;
    vertical-align: middle;
    font-weight: 500;
    border-bottom: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 18px;
    padding-bottom: 18px;
    white-space:nowrap;
}
.db-custom-table thead{
    background-color: #F3F3F3;
}

.db-custom-table thead th:first-child{
    border-top-left-radius: 12px;
}

.db-custom-table thead th:last-child{
    border-top-right-radius: 12px;
}
.db-custom-table tbody td{
    color: #717171;
    font-size: 15px;
    border-color: #E8E5E5;
    padding: 12px 15px;
    vertical-align: middle;
    font-weight: 400;
    border-bottom-width: 2px;
    white-space: nowrap;
}
.custom-calendar th .fc-scrollgrid-sync-inner a {
    color: #252525;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
}
.custom-calendar td .fc-day  a{
    color: #3F3F46;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
}

.custom-calendar.fc .fc-daygrid-day.fc-day-today{
    background-color: transparent;
}

.people-img img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 15px;
}

#payrollChart{
    height: 285px !important;
    width: 100% !important;
    border: 1px solid #E6EDFF;
    border-radius: 10px;
    padding: 17px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.custom-calendar .fc-toolbar-title {
    font-size: 22px;
}
.custom-calendar .fc-toolbar-chunk button {
    background-color: transparent !important;
    color: #5e5adb !important;
    font-size: 14px !important;
    text-transform: capitalize !important;
    border-color: #5e5adb !important;
}
.custom-calendar .fc-toolbar-chunk button .fc-icon {
    font-size: 16px !important;
}

.custom-calendar th.fc-col-header-cell {
    background: #dde6fc;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.custom-calendar .fc-theme-standard td, .custom-calendar .fc-theme-standard th,
.custom-calendar .fc-theme-standard .fc-scrollgrid{
    border-color: #E6EDFF;
}
.pay-container h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}
.pay-container {
    border: 1px solid #E6EDFF;
    padding: 10px;
    border-radius: 8px;
}
.pay-container span {
    font-size: 12px;
    color: #595959;
}
.pay-container span.pay-period-amount {
    font-weight: 700;
    font-size: 16px;
    color: #252525;
}

.custom-calendar .fc-toolbar-chunk button.fc-button-active {
    background-color: #5e5adb !important;
    color: #fff !important;
}

.pay-container .pay-period-time{
    width: 68%;
}

.people-view{
    color: #5E5ADB;
    text-decoration: none;
    font-weight: 500;
}
.custom-pagination a.page-link {
    margin-left: 8px !important;
    width: 38px;
    height: 38px;
    border-radius: 4px !important;
    text-align: center;
    line-height: 38px;
    padding: 0;
    border-radius: 100em !important;
    font-size: 14px;
    font-weight: 500;
}

.page-prev, .page-next {
    background-color: transparent;
    border: none;
    color:#8b8b8b;
}

.custom-pagination .page-item:first-child a{
    margin-left: 0 !important;
}

.page-prev:hover, .page-next:hover{
    color: #252525;
}

.active>.page-link, .page-link.active{
    background-color: #5E5ADB;
}

.white-container{
    border-radius: 15px;
}

.db-custom-tabs .nav-item .nav-link {
    color: #595959;
    font-size: 16px;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
}

.db-custom-tabs .nav-item .nav-link:hover{
    color: #5E5ADB;
}

.db-custom-tabs .nav-item .active.nav-link {
    border-bottom-color: #5E5ADB;
    color: #5E5ADB;
}

.db-custom-input{
    padding-left: 15px;
    font-size: 14px;
    height: 42px;
    border: 1px solid #C2C2C2;
    border-radius: 8px;
}

.db-custom-input:focus{
    box-shadow: none;
    border-color: #A0A0A0;
}

.max-w-md{
    max-width: 860px;
    width: 100%;
}

.db-label{
    font-size: 14px;
    color: #252525;
    font-weight: 500;
}
.submit-btn{
    height: 44px;
    width: 100px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
}

.sub-text-heading h3 {
    font-size: 20px;
    color: #2C368A;
    font-weight: 600;
    margin-bottom: 0;
}

.sub-text-heading p{
    font-size: 14px;
    color: #595959;
    margin-bottom: 0;
}
.continer-h-full {
    min-height: 650px;
}
.tb-img-view {
    width: 90px;
    height: 90px;
    border-radius: 100em;
    overflow: hidden;
    position: relative;
}

.tb-img-view img#tb-image {
    width: 90px;
    height: 90px;
    border-radius: 100em;
    object-fit: cover;
}

.tb-container input {
    display: none;
}

.tb-container label {
    background: #E4E3FF;
    color: #5e5adb;
    font-size: 14px;
    text-transform: capitalize;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    padding: 12px 15px;
}

.bg-cover-container{
    border-radius: 12px;
    background: rgb(50,48,136);
    background: linear-gradient(0deg, rgba(50,48,136,1) 0%, rgba(22,20,91,1) 100%);
}
.profile-name-container h3{
    margin-bottom: 2px;
    font-size: 36px;
    font-weight: 700;
    color: #F0F2F4;
}

.profile-name-container p{
    color: #F0F2F4;
    margin-bottom: 0;
}

.db-custom-tabs button:focus-visible{
    border: none;
    outline: none;
    box-shadow: none;
}

.employee-tabs.db-custom-tabs .nav-item .nav-link{
    color: #BFBED4;
}
.employee-tabs.db-custom-tabs .nav-item .active.nav-link {
    border-bottom-color: #fff;
    color: #fff;
}
.employee-tabs{
    border: none;
}

.employee-profile-left{
    max-width: 250px;
    width: 100%;
    border-radius: 15px;
}

.border-radius-15{
    border-radius: 15px;
}
.custom-radio-btn .form-check-input{
    width: 20px;
    height: 20px;
    border: 1px solid #C2C2C2 !important;
}

.custom-radio-btn .form-check-input:checked{
    background-color: #5E5ADB !important;
    border-color: #5E5ADB !important;
}
.custom-radio-btn label {
    font-size: 14px;
    color: #252525;
    margin-left: 5px;
    margin-top: 4px;
}
.employee-info svg{
    color: #595959;
}
.employee-info p{
    font-size: 14px;
    color: #595959;
}

.employee-social-media li{
    list-style: none;
}
.employee-social-media li a{
    color: #454E97;
}
.emp-proifle-picture{
    position: relative;
    top: 40px;
}
.select-drop-down-arrow {
    background: url('/img/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

.bg-success {
    background-color: #38b446 !important;
}
.btn-arrow-dwn, .btn-arrow-dwn:hover {
    background-color: #d4ffd6;
    border-color: #4CAF50;
    color: #4CAF50;
    width: 38px;
    height: 38px;
    padding: 0;
    border-radius: 100em;
}

.btn-arrow-up, .btn-arrow-up:hover {
    background-color: #ffdcd9;
    border-color: #F44336;
    color: #f44336;
    width: 38px;
    height: 38px;
    padding: 0;
    border-radius: 100em;
}

.db-custom-modal .modal-header h1{
    font-size: 18px;
    color: #0D0B45;
}
.employee-tabs.db-custom-tabs.db-custom-tabs-theme .nav-item .nav-link {
    color: #252525;
    font-weight: 500;
}
.employee-tabs.db-custom-tabs.db-custom-tabs-theme .nav-item .active.nav-link {
    border-bottom-color: #5e5adb ;
    color: #5e5adb ;
    font-weight: 600;
}
.btn-search {
    height: 42px;
    border: none !important;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
}
.db-table-search input {
    height: 30px;
    border-radius: 4px;
    border: 1px solid #C2C2C2;
    padding: 0 14px;
    color: #252525;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}
.db-table-search input::placeholder{
    color: rgb(83, 83, 83) !important;
}
.db-table-search svg {
    position: absolute;
    right: 8px;
    top: 8px;
    color: #4e4e4e;
    width: 16px;
}
.ts-user-name {
    font-size: 14px;
    font-weight: 600;
    color: #5e5adb;
    text-transform: capitalize;
}
.ts-designation {
    font-size: 12px;
    color: #595959;
    font-weight: 400;
}

.time-sheet-container .ts-custom-table tr td,
.time-sheet-container .ts-custom-table tr th{
    vertical-align: middle;
    border:1px solid #C2C2C2 !important;
}
.time-sheet-container .ts-custom-table tr th {
    font-size: 13px;
    text-align: center;
    color: #252525;
}

.time-sheet-container .ts-custom-table input[type="text"]{
    text-align: center;
    border: 1px solid #C2C2C2;
    border-radius: 6px;
    font-weight: 600;
}
.time-sheet-container .ts-custom-table input[name="search"]{
    text-align: left;
}


.time-sheet-container .ts-custom-table input[type="text"]:focus {
    box-shadow: none;
    border-color: #5e5adb ;
}
.daterange-container svg {
    position: absolute;
    top: 12px;
    width: 20px;
    right: 9px;
}

.time-sheet-container .ts-custom-table thead tr:first-child th {
    background-color: #f3f3f3;
}
td.total {
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}
.start-date{
 background-color: #5e5adb !important;
}


@media only screen and (max-width: 992px) {
    #left-menu,
    #logo {
        width: 60px;
    }

    #page-container,
    #header .header-left {
        padding-left: 80px;
    }

    #toggle-left-menu,
    .big-logo {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    #left-menu li.has-sub::after {
        font-family: "Ionicons";
        content: "\f3d3";
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        transform: rotate(0deg);
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    #left-menu li.has-sub.rotate:after {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .small-logo {
        display: none;
    }
}
